<h1><%= @list.name %></h1>

<h2>Bookmarks</h2>
<%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= form_with model: [@list, bookmark], method: :delete, local: true do %>
        <%= submit_tag 'Remove Bookmark', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
