<h1>New bookmark for <%= @list.name %></h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :movie_id, collection: Movie.all, label_method: :title, value_method: :id, label: "Select a Film" %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to List', root_path(@list) %>
